*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    color: white;
    height: 60px;
    background-color: black;
    align-items: center;
}

.logo{
    width: 110px;
    height: 50px;
    box-sizing: border-box;
}
.deliver{
    box-sizing: border-box;
    width: 90px;
    height: 50px;
    padding-top: 10px;
   

}

#amazonlogo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    width: 100%;
    height: 50px;
    /* border: 2px solid transparent; */
}
.border:hover{
    border: 2px solid white;
    transform: scale(1.02);
    
}
.add1{
    margin-left: 15px;
    font-size: 0.8rem;
   
}
.add2{
    margin-left: 3px;
    font-size:1rem ;
}
.location{
    display: flex;
    
    
}
.navbar_search{
    display: flex;
    width: 600px;
    box-sizing: border-box;
    
}

.all{
    background-color: rgb(175, 171, 173);
    width: 50px;
    height: 40px;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 15%;
    margin-left: 10px;
    padding: 0px 3px 0px 6px;
    
}
.searchicon{
    display: flex;
    background-color: rgb(246, 154, 62);
    width: 50px;
    height: 40px;
    border-bottom-right-radius: 10%;
    border-top-right-radius: 10%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    
}


.input input{
    width: 700px;
    height: 40px;
    
   padding-left: 10px;
    font-size: 16px;
    
}
.language{
    width: 70px;
    height: 50px;
    display: flex;
    align-items: center;
    
}
.language select{
    background-color: black;
    color: white;
    font-weight: 600;
}
.signin{
    width: 170px;
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
}
#account{
    display: flex;
    font-weight: 700;

}
#account select{
    background-color: black;
    color: white;
    font-size: medium;
    font-weight: 700;
}
.return{
    width: 100px;
    height: 50px;
    padding: 10px 0px 0px 10px;
    font-weight: 300;
}
.order2{
    display: flex;
    font-weight: 600;
}
.order1{
    font-size: 0.8rem;
}
.cart{
    display: flex;
    font-size: x-large;
}
.cart p{
    font-size: large;
}
.line{
    display: flex;
    background-color: #35384b;
    height: 40px;
    color: white;
    align-items: center;
}
.menu{
    display: flex;
    margin-left: 10px;
    width: 50px;
    height: 40px;
    align-items: center;
}
.line p{
    margin-left: 5px;
}
.opt{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 40px;
    align-items: center;
}
.opt p{
    padding-top: 5px;
    height: 30px;
}
.deals{
    font-weight: 700;
    padding-top: 5px;
    margin-left: 700px;
    height: 30px;
}

.herosection{
    width: 100%;
    height: 500px;
    background-image: url(hero_image.jpg);
    background-size: cover;
}
.link {
    height: 30px;
    background-color: blanchedalmond;
    text-align: center;
    margin:2px 40px 2px 40px ;
}
.container1{
    background-image: url(box14.jpg);
    background-size: cover;
    display: flex;
    height: 500px;
    width: 100%;
    background-color: lightgray;
    justify-content: space-evenly;
}
.boxes{
    margin-top: 10px;
    display: flex;
    height: 400px;
    width: 23%;
    flex-wrap: wrap;
    padding: 10px;
    background-color: white;
    box-sizing: border-box;
}
.objects img{
    width: 160px;
    height: 160px;
    padding-left: 5px;
    padding-right: 5px;
}
.objects img:hover{
    border: 2px solid yellow;
     /* background-color: brown; */
}
.two{
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
}
.smallbox{
    width: 300px;
    height: 120px;
    background-color: white;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px;
}
.smallbox p{
    margin-left: 14px;
    margin-top: 20px;
    font-size: large;
    font-weight: 600;
}
.btn{
    margin-left: 35px;
    margin-top: 20px;
    height: 30px;
    width: 200px;
    background-color: rgb(235, 188, 34);
    color: black;
    text-align: center;
    border-radius: 5px;
}
.bigbox{
    margin-top: 20px;
    width: 300px;
    height: 250px;
    background-image: url(box13.jpg);
    background-size: cover;
}
